@import 'utilities';

.navbar {
    border-bottom: solid 1px $primary-blue;
} 

.btn-link {
    color: $primary-blue;
}

.collapse .navbar-collapse {
    color: blue;
}

a.nav-link{
    color: $primary-blue !important; 
    font-weight: bold ;
} 

img.header-icon, {
    width: 30px;
}

img.header-icon-logo, {
    width: 150px;
}

.navbar.navbar-expand-lg.fixed-top, .navbar {
    background-color: white !important;
}


.nav > li:not(:last-child) {
    box-sizing: border-box;
}


.navbar {
    padding-bottom: 0rem;
    padding-top: 0.0rem;
}
// @media (min-width: 768px) {
//     .navbar-brand
//         {
//             position: absolute;
//             left: 50%;
//             transform: translateX(-50%);
//             min-width: 50px;
//         }
//     }



@media (min-width: 768px) {
    img.header-icon-logo
        {
            margin-left: 100px !important;
        }
    }