.navbar {
  border-bottom: solid 1px #396EA8;
}

.btn-link {
  color: #396EA8;
}

.collapse .navbar-collapse {
  color: blue;
}

a.nav-link {
  color: #396EA8 !important;
  font-weight: bold;
}

img.header-icon {
  width: 30px;
}

img.header-icon-logo {
  width: 150px;
}

.navbar.navbar-expand-lg.fixed-top, .navbar {
  background-color: white !important;
}

.nav > li:not(:last-child) {
  border-right: 1px solid red;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar {
  padding-bottom: 0rem;
  padding-top: 0.0rem;
}

@media (min-width: 768px) {
  img.header-icon-logo {
    margin-left: 100px !important;
  }
}

html {
  height: 100%;
  width: 100%;
}

.primary {
  color: #396EA8;
}

.secondary {
  color: #1085E4;
}

.primary-grey {
  color: #707070;
}

.rwd-background {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  webkit-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.img-bg {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.img-bg h1 {
  color: white;
  text-shadow: 3px 2px 3px #7070704a;
}

.img-bg.first {
  background: url(../img/main_page_bg_1.jpeg) no-repeat center center fixed;
  background-size: cover;
}

.img-bg.secondary {
  background: url(../img/main_page_sm_3-compressor.jpeg) no-repeat center center fixed;
  background-size: cover;
}

.img-bg.secondary-small {
  background: url(../img/main_page_sm_3-compressor.jpeg) no-repeat center center fixed;
  background-size: cover;
  height: 72vh;
}

.section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  font-size: 50px;
  color: #707070;
  margin-top: 80px;
  margin-bottom: 40px;
  position: relative;
}

.section-title .subtitle {
  position: absolute;
  bottom: -55px;
  right: 5px;
  text-align: right;
  font-size: 25px;
}

.fas,
.fab {
  font-size: 150px;
  color: white;
}

.icon-wrapper {
  background-color: #1085E4;
  border-radius: 50%;
  padding: 30px;
  margin-top: 40px;
}

.icon-title {
  color: #1085E4;
  font-size: 30px;
  font-weight: bold;
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) {
  /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;
    /* 50% */
  }
}

.info-section {
  margin: 60px 0 60px 0;
}

.section-title:after {
  content: "";
  background: #1085E4;
  position: absolute;
  bottom: -12px;
  left: 0;
  height: 3px;
  width: 45%;
}

.footer-title {
  position: relative;
  margin-bottom: 7px;
  color: white;
}

.footer-title:after {
  content: "";
  background: #1085E4;
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 2px;
  width: 25%;
}

.product-item {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.product-item .header {
  position: relative;
  background-color: #1085E4;
  height: 215px;
}

.product-item .header .title {
  color: white;
  font-size: 40px;
  margin-top: 30px;
}

.product-item .header .title-small {
  font-size: 25px;
  color: white;
}

.product-item .header .title-small .fas, .product-item .header .title-small .fab {
  font-size: 25px;
}

.product-item .footer-image {
  height: 200px;
}

.product-item .footer-image img {
  -o-object-fit: cover;
     object-fit: cover;
}

.page-control {
  background-color: #1085E4;
  border-radius: 25px;
  border: 3px solid white;
  position: absolute;
  bottom: -10%;
}

.bg-svg {
  position: relative;
  width: 100%;
  background-size: cover;
  height: 0;
  padding: 0;
  /* reset */
  padding-bottom: 100%;
  margin: auto;
  display: block;
}

.bg-svg.net {
  background-image: url(../img/tree_icon.svg);
}

.bg-svg.cone {
  background-image: url(../img/cone_icon.svg);
}

.center-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  height: auto;
  color: #999;
  background-color: #414141;
  border-top: .05rem solid #e5e5e5;
  font-size: medium;
}

footer .item {
  background-color: white;
  color: #707087;
  border-radius: 50px;
  margin-top: 5px;
  font-weight: 500;
}

footer .item:hover {
  text-decoration: none;
}

.product-details {
  width: 100%;
  text-align: left;
}

.product-details .header {
  font-size: smaller !important;
}

.product-details .item {
  background-color: white;
  color: #707087;
  border-radius: 50px;
  margin-top: 5px;
  font-weight: 500;
}

.product-details .item:hover {
  text-decoration: none;
}

.product-details .bullet {
  width: 10px;
}

a {
  color: inherit;
}
/*# sourceMappingURL=style.css.map */