@import 'nav';
@import 'utilities';

html{
    height:100%;
    width:100%;
}

.rwd-background {
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed;       
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100vh;
    width:100%; 
}

.img-bg {
    background: url(../img/main_page_bg_1.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100vh;
    display:flex;justify-content:center;align-items:center;text-align:center;

    h1 {
        color: white;
        text-shadow: 3px 2px 3px #7070704a;
    }
}

.section-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 50px;
    color: #707070;
    margin-top: 80px;
    margin-bottom: 80px;
    position: relative;

    .subtitle {
        position: absolute;
        bottom:-50px;
        right: 5px;
        text-align:right;    
        font-size: 25px;
    }
}

.fas, .fab {
    font-size: 150px;
    color: white;
}

.icon-wrapper {
    background-color: $secondary-blue;
    border-radius: 50%;
    padding: 30px;
    margin-top: 20px;
}

.icon-title {
    color: $secondary-blue;
    font-size: 30px;
    font-weight: bold;
}

img.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
  
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
  
    /* Set up positioning */
    //position: absolute;
    top: 0;
    left: 0;
  }
  
  @media screen and (max-width: 1024px) { /* Specific to this particular image */
    img.bg {
      left: 50%;
      margin-left: -512px;   /* 50% */
    }
  }


//SHAME
    
//   .section-title:after {
     
// }

// .carousel-item {
//   height: 100vh;
//   min-height: 300px;
//   background: no-repeat center center scroll;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
// }


  .section-title:after {
    content:""; 
    background: #1085E4; 
    position: absolute; 
    bottom: -12px; 
    left: 0; 
    height: 3px; 
    width: 45%;
  }

  .product-item {
      margin-top: 60px;
      .header {
          background-color: $primary-blue;
          height: 250px;
      }

      .footer-image {
        border: solid 2px $primary-blue;
        height: 200px;
      }
  }

//   .section-title:before, .section-title:after {
//     content: "";
//     -webkit-box-flex: 1;
//         -ms-flex: 1 1;
//             flex: 1 1;
//     border-bottom: 6px solid #1085E4;
//     margin-top: 30px;
//     margin: 30px 10px 30px 10px;
//   }

// .absolute {
//     position: absolute;
//     top: 120px;
//     right: 0;
//     width: 300px;
//     height: 200px;
//     border: 3px solid #707070;
// }

// .elem {
//     border: solid #6AC5AC 3px;
// }
// .relative {
//     position: relative;
//     width: 600px;
//     height: 400px;
//     border: solid 3px blue;
// }