@import 'css/nav';
@import 'css/utilities';

html {
    height: 100%;
    width: 100%;
}

.primary {
    color: $primary-blue;
}

.secondary {
    color: $secondary-blue;
}

.primary-grey {
    color: $primary-grey;
}

.img-bg {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    h1 {
        color: white;
        text-shadow: 3px 3px 5px grey;
    }

    &.first {
        background: url(../img/main_page_bg_1.jpeg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        // &:before {
        //     content: '';
        //     position: absolute;
        //     top: 0;
        //     right: 0;
        //     bottom: 0;
        //     left: 0;
        //     background-image: linear-gradient(to bottom right,#70E1F5,#FFD194);
        //     opacity: .6; 
        //   }
    }

    &.secondary {
        background: url(../img/main_page_sm_3-compressor.jpeg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    &.secondary-small {
        background: url(../img/main_page_sm_3-compressor.jpeg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 65vh;
    }

    &.third-small {
        background: url(../img/main_page_bg_2-compressor.jpeg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 65vh;
    }

    &.fourth-xs {
        background: url(../img/main_second.jpeg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 40vh;
    } 
} 

.section-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal; 
    -ms-flex-direction: row;
    flex-direction: row;
    font-size: 50px;
    color: #707070;
    margin-top: 80px;
    margin-bottom: 40px; 
    
    position: relative;
    .subtitle {
        position: absolute;
        bottom: -55px;
        right: 5px;
        text-align: right;
        font-size: 25px;
    }
}

.fas,
.fab {
    font-size: 150px;
    color: white;
}

.icon-wrapper {
    background-color: $secondary-blue;
    border-radius: 50%;
    padding: 30px;
    margin-top: 40px;
}

.icon-title {
    color: $secondary-blue;
    font-size: 30px;
    font-weight: bold;
}

img.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    /* Set up positioning */
    //position: absolute;
    top: 0;
    left: 0;
}

@media screen and (max-width: 1024px) {
    /* Specific to this particular image */
    img.bg {
        left: 50%;
        margin-left: -512px;
        /* 50% */
    }
}

.info-section {
    margin: 40px 0 50px 0; 
}

.section-title:after {
    content: "";
    background: #1085E4;
    position: absolute;
    bottom: -12px;
    left: 0;
    height: 3px;
    width: 45%;
}

.footer-title{
    position: relative;
    margin-bottom: 7px;
    color:white;
}


.footer-title:after {
    content: "";
    background: #1085E4;
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 2px;
    width: 25%;
}

.product-item {
    // position: relative;
    padding-left: 0px !important;
    padding-right: 0px !important;
    .header {
        position: relative;
        background-color: $secondary-blue;
        height: 215px;
        .title {
            color: white;
            font-size: 40px;
            margin-top: 30px;
        }

        .title-small {
            font-size: 25px;
            // color: white;

            .fas, .fab {
                font-size: 25px;
            }

            a {
                color: white;
            }
        }   
    }
    .footer-image {
        // border: solid 2px $secondary-blue;
        height: 200px;

        img {
            object-fit: cover;
        }
    }
}

.page-control {
    background-color: $secondary-blue;
    // padding: 3px;
    border-radius: 25px;
    // width: 100px;
    // height: 30px;
    border: 3px solid white;
    // text-align: center;
    position: absolute;
    bottom: -10%;
    // left: 50%;
    transition: all .8s;
    color: white;

    a {
       transition: all .8s;
       text-decoration: none;

        &:hover {
            color: $secondary-blue !important;
        }
    }


    .fas {
        transition: .8s;
        color: white;
    }

    &:hover {

        a {
            color: $secondary-blue !important;
        }

        background-color: white;
        color: $secondary-blue !important;
        border: 4px solid $secondary-blue;

        .fas {
            color: $secondary-blue;
        }
    }
}

.bg-svg{
    position: relative;
    width: 100%;
    background-size: cover;
    height: 0;
    padding: 0;
    /* reset */
    padding-bottom: 100%;
    margin: auto;
    display: block; // left: 200%;
    // margin: 0 auto;

    &.net {
        background-image: url(../img/tree_icon.svg);
    }

    &.cone {
        background-image: url(../img/cone_icon.svg);
    }
}

.center-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    height: auto;
    color: #999;
    // text-align: center;
    background-color: #414141;
    border-top: .05rem solid #e5e5e5;
    font-size: medium;

    .item {
        background-color:white;
        color: #707087;
        border-radius: 50px;
        margin-top: 5px;
        font-weight: 500;
        width: 100%;

        &:hover {
            text-decoration: none;
        }
    }

    .logo-bar {
        background-color: white; 
        height: auto; 
        padding-bottom: 10px; 
        padding-top: 10px;
    }
}


.product-details {

    width: 100%;
    text-align: left;

    .header {
        font-size: smaller !important;
    }

    .item {
        background-color:white;
        color: #707087;
        border-radius: 50px;
        margin-top: 5px;
        font-weight: 500;
        width: 100%;

        &:hover {
            text-decoration: none;
        }
    }

    .bullet {
        width: 10px;
    }
}

.product-page-title  {
    overflow: hidden;
    text-align: center;
    width: 100%;
    font-size: 30px;
    text-shadow: 5px 5px 5px grey;
    color: white;

    &:before, &:after {
        background-color: $secondary-blue;
        content: "";
        display: inline-block;
        height: 3px;
        position: relative;
        vertical-align: middle;
        width: 50%;
    }

    &:before {
        right: 0.5em;
        margin-left: -50%;
    }

    &:after {
        left: 0.5em;
        margin-right: -50%;
    }
}


h2:before {
    border: 1px solid blue;
    width: 10px;
}

.icon-circle-background {
    width: 199px;
    height: 199px;
    border-radius: 50%;
    text-align: center;
    line-height: 169px;
    vertical-align: middle;

    padding-bottom: 60px;
    padding-top: 24px;
    background-color: #007bff;
  }

@media screen and (min-width: 992px) {
    .img-bg {
        h1 {
            font-size: 70px;
        }
    }

    .section-title {
        width: 40%;
    }

    .product-page-title {
        font-size: 55px;
    }

    footer {
    
        .item {
            width: 40%;
        }
    }

    .product-details {
        .item {
            width: 30%;
        }
    }
  }