.navbar {
  border-bottom: solid 1px #396EA8;
}

.btn-link {
  color: #396EA8;
}

.collapse .navbar-collapse {
  color: blue;
}

a.nav-link {
  color: #396EA8 !important;
  font-weight: bold;
}

img.header-icon {
  width: 30px;
}

img.header-icon-logo {
  width: 150px;
}

.navbar.navbar-expand-lg.fixed-top, .navbar {
  background-color: white !important;
}

.nav > li:not(:last-child) {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar {
  padding-bottom: 0rem;
  padding-top: 0.0rem;
}

@media (min-width: 768px) {
  img.header-icon-logo {
    margin-left: 100px !important;
  }
}

html, body {
  width: 100% !important;
  height: 100% !important;
  margin: 0px !important;
  padding: 0px !important;
  overflow-x: hidden !important;
}

.primary {
  color: #396EA8;
}

.secondary {
  color: #1085E4;
}

.primary-grey {
  color: #707070;
}

.img-bg {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.img-bg h1 {
  color: white;
  text-shadow: 3px 3px 5px grey;
}

.img-bg.first {
  background: url(../img/main_page_bg_1.jpeg) no-repeat center center fixed;
  background-size: cover;
}

.img-bg.secondary {
  background: url(../img/main_page_sm_3-compressor.jpeg) no-repeat center center fixed;
  background-size: cover;
}

.img-bg.secondary-small {
  background: url(../img/main_page_sm_3-compressor.jpeg) no-repeat center center fixed;
  background-size: cover;
  height: 65vh;
}

.img-bg.third-small {
  background: url(../img/main_page_bg_2-compressor.jpeg) no-repeat center center fixed;
  background-size: cover;
  height: 65vh;
}

.img-bg.fourth-xs {
  background: url(../img/main_second.jpeg) no-repeat center center fixed;
  background-size: cover;
  height: 40vh;
}

.section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  font-size: 50px;
  color: #707070;
  margin-top: 80px;
  margin-bottom: 40px;
  position: relative;
}

.section-title .subtitle {
  position: absolute;
  bottom: -55px;
  right: 5px;
  text-align: right;
  font-size: 25px;
}

.fas,
.fab {
  font-size: 150px;
  color: white;
}

.icon-wrapper {
  background-color: #1085E4;
  border-radius: 50%;
  padding: 30px;
  margin-top: 40px;
}

.icon-title {
  color: #1085E4;
  font-size: 30px;
  font-weight: bold;
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) {
  /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;
    /* 50% */
  }
}

.info-section {
  margin: 40px 0 50px 0;
}

.section-title:after {
  content: "";
  background: #1085E4;
  position: absolute;
  bottom: -12px;
  left: 0;
  height: 3px;
  width: 45%;
}

.footer-title {
  position: relative;
  margin-bottom: 7px;
  color: white;
}

.footer-title:after {
  content: "";
  background: #1085E4;
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 2px;
  width: 25%;
}

.product-item {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.product-item .header {
  position: relative;
  background-color: #1085E4;
  height: 215px;
}

.product-item .header .title {
  color: white;
  font-size: 40px;
  margin-top: 30px;
}

.product-item .header .title-small {
  font-size: 25px;
}

.product-item .header .title-small .fas, .product-item .header .title-small .fab {
  font-size: 25px;
}

.product-item .header .title-small a {
  color: white;
}

.product-item .footer-image {
  height: 200px;
}

.product-item .footer-image img {
  -o-object-fit: cover;
     object-fit: cover;
}

.page-control {
  background-color: #1085E4;
  border-radius: 25px;
  border: 3px solid white;
  position: absolute;
  bottom: -10%;
  -webkit-transition: all .8s;
  transition: all .8s;
  color: white;
}

.page-control a {
  -webkit-transition: all .8s;
  transition: all .8s;
  text-decoration: none !important;
}

.page-control a:hover {
  color: #1085E4 !important;
}

.page-control .fas {
  -webkit-transition: .8s;
  transition: .8s;
  color: white;
}

.page-control:hover {
  background-color: white;
  color: #1085E4 !important;
  border: 3px solid #1085E4;
}

.page-control:hover a {
  color: #1085E4 !important;
}

.page-control:hover .fas {
  color: #1085E4;
}

.bg-svg {
  position: relative;
  width: 100%;
  background-size: cover;
  height: 0;
  padding: 0;
  /* reset */
  padding-bottom: 100%;
  margin: auto;
  display: block;
}

.bg-svg.net {
  background-image: url(../img/tree_icon.svg);
}

.bg-svg.cone {
  background-image: url(../img/cone_icon.svg);
}

.center-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  height: auto;
  color: #999;
  background-color: #414141;
  border-top: .05rem solid #e5e5e5;
  font-size: medium;
}

footer .item {
  background-color: white;
  color: #707087;
  border-radius: 50px;
  margin-top: 5px;
  font-weight: 500;
  width: 100%;
}

footer .item:hover {
  text-decoration: none;
}

footer .logo-bar {
  background-color: white;
  height: auto;
  padding-bottom: 10px;
  padding-top: 10px;
}

.product-details {
  width: 100%;
  text-align: left;
}

.product-details .header {
  font-size: smaller !important;
}

.product-details .item {
  background-color: white;
  color: #707087;
  border-radius: 50px;
  margin-top: 5px;
  font-weight: 500;
  width: 100%;
}

.product-details .item:hover {
  text-decoration: none;
}

.product-details .bullet {
  width: 10px;
}

.product-page-title {
  overflow: hidden;
  text-align: center;
  width: 100%;
  font-size: 30px;
  text-shadow: 5px 5px 5px grey;
  color: white;
}

.product-page-title:before, .product-page-title:after {
  background-color: #1085E4;
  content: "";
  display: inline-block;
  height: 3px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.product-page-title:before {
  right: 0.5em;
  margin-left: -50%;
}

.product-page-title:after {
  left: 0.5em;
  margin-right: -50%;
}

h2:before {
  border: 1px solid blue;
  width: 10px;
}

.icon-circle-background {
  width: 199px;
  height: 199px;
  border-radius: 50%;
  text-align: center;
  line-height: 169px;
  vertical-align: middle;
  padding-bottom: 60px;
  padding-top: 24px;
  background-color: #007bff;
}

@media screen and (min-width: 768px) {
  html, body {
    overflow-x: unset !important;
  }
}

@media screen and (min-width: 992px) {
  .img-bg h1 {
    font-size: 70px;
  }
  .section-title {
    width: 40%;
  }
  .product-page-title {
    font-size: 55px;
  }
  footer .item {
    width: 40%;
  }
  .product-details .item {
    width: 30%;
  }
  .product-item .footer-image {
    height: 270px;
  }
}
/*# sourceMappingURL=style.css.map */